[submodule "seed/libDaisy"]
	path = seed/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "seed/DaisySP"]
	path = seed/DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "pico/pico-extras"]
	path = pico/pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "pico/pico_fft"]
	path = pico/pico_fft
	url = git@github.com:raquiqui/pico_fft.git
